body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url('bg.jpeg'); 
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-position: center;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
}

.logo img {
    width: 300px; 
    height: auto;
}

.container {
    text-align: center; 
}


h1 {
    color: #0259b0b8;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 0 680px;
    
}

.registration-box {
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid #0259b0b8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200%;
    max-width: 600px; 
    margin: 30px 0 0 500px; 
    text-align: center; 
}

.registration-box h2 {
    margin: 0 0 10px 0; 
    color: #0259b0b8;
    font-size: 20px;
}

.registration-box .form-group {
    display: flex;
    flex-direction: column; 
    gap: 5px; 
    margin-bottom: 10px; 
    text-align: left; 
}

.registration-box .form-group label {
    margin-bottom: 2px; 
    color: #333; 
}

.registration-box .form-group input {
    padding: 5px; 
    border: 1px solid #ddd;
    border-radius: 5px;
    
}

.registration-box button {
    width: 100%; 
    padding: 10px;
    background-color: #0259b0b8;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px; 
}

.registration-box button:hover {
    background-color: #014f8d; 
}

.registration-box .signup-text {
    margin-top: 10px; 
    color: #0259b0b8; 
}

.registration-box .signup-text a {
    color: #0259b0b8; 
    text-decoration: none;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    font-size: 12px;
    color: #555;
   
}

